---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
{%- assign section_meta = site.data.sections[post.section] -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    {% if section_meta %}[{{ section_meta.label }}] {% endif %}<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

<p class="home-view-all">
  <a href="{{ '/sections/' | relative_url }}">
    ... 察看全部分区 / ... View all (Sections)
  </a>
</p>
